<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>physioclempediatria.vertigma.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.1</string>
	<key>CFBundleDisplayName</key>
	<string>Physioclem Pediatria</string>
	<key>CFBundleIdentifier</key>
	<string>com.physioclempediatria.app</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>CFBundleName</key>
	<string>Physioclem Pediatria</string>
	<key>XSAppIconAssets</key>
	<string>AppIconAssets.xcassets/AppIcons.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome5BrandsRegular.otf</string>
		<string>FontAwesome5Regular.otf</string>
		<string>FontAwesome5Solid.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Esta App necessita de ter acesso à câmera para tirar uma foto do seu perfil.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta App necessita de ter acesso à galeria de imagens para fazer o upload da sua foto de perfil.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This permission is not needed by the app, but it is required by an underlying API. If you see this dialog, contact us.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Esta App necessita de ter acesso à galeria de imagens para fazer o upload da sua foto de perfil.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app wants to use your location in order to search the nearest therapies closest to you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires your location in order to search the nearest therapies closest to you.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires your location in order to search the nearest therapies closest to you.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app requires your location in order to search the nearest therapies closest to you.</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Icon-60@3x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Default</string>
		<string>Default@2x</string>
		<string>Default-568h</string>
		<string>Default-568h@2x</string>
		<string>Default-Landscape</string>
		<string>Default-Landscape@2x</string>
		<string>Default-Portrait</string>
		<string>Default-Portrait@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
		<string>Icon-Small-40@3x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small@3x</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>This permission is not needed by the app, but it is required by an underlying API. If you see this dialog, contact us.</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>This permission is not needed by the app, but it is required by an underlying API. If you see this dialog, contact us.</string>
	<key>NSMotionUsageDescription</key>
	<string>This permission is not needed by the app, but it is required by an underlying API. If you see this dialog, contact us.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This permission is not needed by the app, but it is required by an underlying API. If you see this dialog, contact us.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
